h3{
    margin: 10px;
}

.grid{
    margin: 10px;
    width: 440px;
    height: 340px;
    border: solid 1px;
}

.card{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4px;
}